@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.FooterPage{
    position: relative;
    z-index: 0;
    padding: 20px 4%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-top: 1px solid hsla(0,0%,100%,.1);
    background-color: #0f0f0f;
    font-size: .8em;

}

.container{
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.footer_top_container{
    display: grid;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 0.75fr 1fr 0.75fr;
    grid-template-columns: 0.75fr 1fr 0.75fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.brand_container{
    margin: 0;
    color: #fff;
    margin-right: 16px;
    font-size: 2.4em;
    line-height: 1.5em;
    font-weight: 800;
    background-image: linear-gradient( 
        45deg,#001ad1 10%,#4c18ff 40%,#b318ff 60%,#00f0ff 90%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
/*             
    width: 260px;
    margin-right: 16px;
    font-size: 24px; */
}

.productcontainer{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.footer_column{
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.footer_title{
    margin-bottom: 4px;
    color: #fff;
}

.footer_link{
    margin-top: 4px;
    margin-bottom: 4px;
    color: #868f97;
    font-size: 1em;
    line-height: 1.25em;
    text-decoration: none;
}
.footer_link:hover{
    color: #6b81fa;
}
.footerbottomcontainer{
    display: flex;
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid hsla(0,0%,100%,.1);
}


.socialicon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    width: 50px;
    height: 45px;
    margin: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #121826;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    flex-direction: column-reverse;
}

.twitter:hover{
    background-color: #2aa3f0;
}

.facebook:hover{
    background-color: #3b5998;
}

.instagram:hover{
    background-color: #f24137;
}

.linkedin:hover{
    background-color: #0177b5;
}

.youtube:hover{
    background-color: #fe0100;
}

.footerlinklegal{
     display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color: #000;
    padding-left: 3em;
}